.notes {
    margin: auto;
}

.notes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.note-item {
    flex-grow: 1;
    margin: 16px;
}
